@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCs6KVjbNBYlgo6eA.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCv6KVjbNBYlgoCxCvTtw.ttf) format('truetype');
}
main {
  height: 680px;
  width: auto;
  background: #ffffff url(../img/fon.png) center center no-repeat;
  background-size: cover;
  padding-top: 50px;
}
main .m-title h2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #0bbaf0;
  text-align: center;
}
main .m-subtitle p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: #0bbaf0;
  text-align: center;
}
main .line {
  border: 1px solid #c4c4c4;
  width: 126px;
  margin: auto;
  margin-bottom: 30px;
}
.panel-default > .panel-heading {
  background-color: #0bbaf0;
}
.panel-group {
  height: 56px;
}
.panel-title {
  font-family: 'Ubuntu', sans-serif;
  font-size: 23.2px;
  font-weight: 400;
  color: #fff;
}
.panel-body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: #535353;
}
