nav {
	background-color: #000;
	padding: 10px;
}

ul {
	text-align: right;
}

li {
	display: inline-block;
}

a {
	color: #fff;
	text-transform: uppercase;
	padding: 10px;
}

.text {
	padding: 30px 20px 20px 20px;
	background-color: #aeaeae;

}